<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"></link>
  <link rel="stylesheet" href="./styles.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Zilla+Slab:500,500i,700,700i" rel="stylesheet">
  <title>Via</title>
</head>

<nav>
  <div class="logo">
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.5 97.71">
    <path class="dot" d="M88,9.88A3.09,3.09,0,0,0,84.87,13c0,.87,1.31,3.25,3.08,5.75C89.73,16.22,91,13.84,91,13A3.09,3.09,0,0,0,88,9.88Z" transform="translate(-2.04 -4.88)"/>
    <path class="dot-outline" d="M88,4.88A8.09,8.09,0,0,0,79.87,13c0,3.69,4.71,9.7,6.15,11.45a2.51,2.51,0,0,0,1.93.91,2.48,2.48,0,0,0,1.93-.91C91.33,22.67,96,16.66,96,13A8.1,8.1,0,0,0,88,4.88Zm0,5A3.09,3.09,0,0,1,91,13c0,.87-1.31,3.25-3.09,5.75-1.77-2.5-3.08-4.88-3.08-5.75A3.09,3.09,0,0,1,88,9.88Z" transform="translate(-2.04 -4.88)"/>
    <path class="via-text" d="M173.37,95.76,108.45,30.84a4,4,0,0,0-6.83,2.83V94.45h-9V33.54a4,4,0,0,0-3.89-4,3.66,3.66,0,0,0-1-.14H56.85a4,4,0,0,0,0,8H67V88.14L8.87,30.05A4,4,0,1,0,3.21,35.7l64.92,64.92A4,4,0,0,0,71,101.79a4,4,0,0,0,1.53-.3A4,4,0,0,0,75,97.79V37.41H84.6v61a4,4,0,0,0,4,4h30.87a4,4,0,0,0,0-8h-9.85V77.86h34.53l23.56,23.56a4,4,0,1,0,5.66-5.66Zm-63.75-25.9V43.33l26.53,26.53Z" transform="translate(-2.04 -4.88)"/>
  </svg>
</div>
  <a href= "/"> Create Map</a>
  <a href= "/routesuggestions"> Suggested Routes</a>
  <a href= "/login"> Log Out</a>
</nav>

<body>
  <div class="wrapper">
  <div class="header">
  <h1> Find the spots you can't leave Austin without seeing! </h1>
</div>
 <div class=middle>
  <div id="form">
    <div class="column-left">

      <h3>Create A Map</h3>
      <div class="steps">
      <p><span>Step 1</span> Select landmarks you want to add to your route.</p>
    </div>
    <div class="steps">
      <p><span>Step 2</span> Enter your final destination. For example, you can enter your home or hotel address, or select a restruant from the suggestions provided.</p>
    </div>
    <div class="steps">
    <p>  <span>Step 3</span> Press the "Make My Route" button and we'll create a simple route for you!</p>
    </div>

    </div>
    <div class="column-right">
      <select multiple id="waypoints">
        <option value="1100 Congress Ave, Austin, TX">State Capitol</option>
        <option value="110 Inner Campus Drive, Austin, TX">UT Campus</option>
        <option value="1800 Congress Ave, Austin, TX">Bob Bullok State History Museum</option>
        <option value="101 Baylor St., Austin, TX">Hope Outdoor Gallery</option>
        <option value="713 Congress Ave, Austin, TX">Paramount theatre</option>
        <option value="407 E 6th St., Austin, TX">6th Street Bar District</option>
        <option value="900 W Riverside Dr., Austin, TX">Autotorium Shores</option>
        <option value="817 W 5th St Austin, TX">Tiniest Bar in Texas</option>
        <option value="2131 William Barton Dr., Austin, TX">Barton Springs</option>
        <option value="Congress Ave, Austin, TX">Congress Bat Bridge</option>
      </select>
      <small id="more-info">More Info »</small>
      <input id="end" name="end" placeholder="123 Main St."></input>
      <select id="restaraunt">
        <option value="skip" selected="true" disabled="disabled">Select a restaurant</option>
        <option value="5119 Burnet Rd, Austin, TX">Torchy's Tacos $</option>
        <option value="1415 S Congress Ave, Austin, TX">Home Slice $</option>
        <option value="2218 College Ave, Austin, TX">Lucy's Fried Chicken $</option>
        <option value="2115 Holly St, Austin, TX">Launderette$ $$</option>
      </select>
    <button type="submit" id="submit">Make My Route</button>
  </div>
  </div>
  <div class="stop-info">
  </div>

</div>


<div id="make-map" class="map"></div>

<form id="save-form">
  <button type="submit" id="submit">Save My Route</button>
</form>
</div>

<script>
let info = document.querySelector('.stop-info');
document.getElementById('more-info').addEventListener('click', function() {
  let cards =
  `{{#waypoints}}
  <div class="card">
  <img src={{img}} alt="photo of {{name}}">
  <div class="deats">
  <h5>{{name}}</h5>
  <P> {{description}}</p>
  </div>
  </div>
    {{/waypoints}}`
  info.innerHTML = cards
  console.log("cards added");
})
 </script>
  <script src="map.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCq04ArY70ba05n6sTkDx0VldkX1fVtCg">
  </script>
</body>

</html>
