<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Via</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"></link>
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body id=login-page>
  <div id="login">
  <h1 class="splash"> Via </h1>
  <p style="color:red"> {{error}} </p>

  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button class="sign-in" type="submit" name="button"> Sign In</button>
  </form>
  <div class="login-page-links">
    <a href="#"> Forgot Password?</a>
    <a href="/registration"> Register </a>
  </div>
</div>
  <div id="instructions">
    <h2> Guide to Making a Route</h2>
    <div id="one">
    <p class="number"> 1 </p>
    <p class="step">Select landmarks you want to visit from the menu provided. </p>
  </div>
  <div class="two">
    <p class="number"> 2 </p>
    <p class="step"> Enter your desired end location. For example, your home or hotel.</p>
  </div>
  <div class="3">
    <p class="number"> 3 </p>
    <p class="step"> Press the "Make My Route button. It's as simple as that!"</p>
  </div>
    <h2> OR </h2>
    <p> Use the "Suggested Routes" link to find curated maps suggested by other travelers and locals.</p>
  </div>
</body>
</html>
