<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Via</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Zilla+Slab:500,500i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body id="login-page">
  <div id="login">
<div class="logo login-logo">
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.5 97.71">
    <path class="dot" d="M88,9.88A3.09,3.09,0,0,0,84.87,13c0,.87,1.31,3.25,3.08,5.75C89.73,16.22,91,13.84,91,13A3.09,3.09,0,0,0,88,9.88Z" transform="translate(-2.04 -4.88)"/>
    <path class="dot-outline" d="M88,4.88A8.09,8.09,0,0,0,79.87,13c0,3.69,4.71,9.7,6.15,11.45a2.51,2.51,0,0,0,1.93.91,2.48,2.48,0,0,0,1.93-.91C91.33,22.67,96,16.66,96,13A8.1,8.1,0,0,0,88,4.88Zm0,5A3.09,3.09,0,0,1,91,13c0,.87-1.31,3.25-3.09,5.75-1.77-2.5-3.08-4.88-3.08-5.75A3.09,3.09,0,0,1,88,9.88Z" transform="translate(-2.04 -4.88)"/>
    <path class="via-text" d="M173.37,95.76,108.45,30.84a4,4,0,0,0-6.83,2.83V94.45h-9V33.54a4,4,0,0,0-3.89-4,3.66,3.66,0,0,0-1-.14H56.85a4,4,0,0,0,0,8H67V88.14L8.87,30.05A4,4,0,1,0,3.21,35.7l64.92,64.92A4,4,0,0,0,71,101.79a4,4,0,0,0,1.53-.3A4,4,0,0,0,75,97.79V37.41H84.6v61a4,4,0,0,0,4,4h30.87a4,4,0,0,0,0-8h-9.85V77.86h34.53l23.56,23.56a4,4,0,1,0,5.66-5.66Zm-63.75-25.9V43.33l26.53,26.53Z" transform="translate(-2.04 -4.88)"/>
  </svg>
</div>
    <p style="color:red"> {{error}} </p>

    <form action="/login" method="post">
      <input class="login-input" type="text" name="username" placeholder="Username">
      <input class="login-input" type="password" name="password" placeholder="Password">
      <button id="sign-in-button" type="submit" name="button"> Sign In</button>
    </form>

    <div class="login-page-links">
      <a href="#" style="margin-right:40px"> Forgot Password?</a>
      <a href="/registration" style="margin-left:40px"> Register </a>
    </div>
  </div>

  <div class="instructions" id="guide">
    <h2 style="text-align:left"> Guide to Making a Route »</h2>
    <div class="steps">

      <p class="step"> <span class="number"> Step 1 </span>   Select landmarks you want to visit from the menu provided. </p>
    </div>
    <div class="steps">

      <p class="step">  <span class="number"> Step 2 </span> Enter your desired end location. For example, your home or hotel.</p>
    </div>
    <div class="steps">

      <p class="step"> <span class="number"> Step 3 </span>  Press the "Make My Route button. It's as simple as that!"</p>
    </div>
  </div>

  <div class="instructions" id="or">
    <h2 style="text-align:right">  « Or Use a Premade Map </h2>
    <p class="step"> Use the "Suggested Routes" link to find curated maps suggested by other travelers and locals.</p>
  </div>

</body>

</html>
