<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"></link>
  <link rel="stylesheet" href="./styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Zilla+Slab:500,500i,700,700i" rel="stylesheet">
  {{#route}}
  <title>{{title}}</title>
</head>
<nav>
  <a href= "/"> Create Map</a>
  <a href= "/routesuggestions"> Suggested Routes</a>
  <a href= "/login"> More Info</a>
  <a href= "/login"> Log Out</a>
</nav>
<body class="image-bg" style="background-image:url({{img}})">
<div class="wrapper">
  <h1> {{title}}</h1>
  <!-- <h2> {{details}}</h2> -->
  <div class="waypoints-info">
    <div class="stop-info">
    {{#waypoints}}
    <div class="card">
    <div class="deats">
    <h5>{{name}}</h5>
    <p>{{description}}</p>
    </div>
  </div>
    {{/waypoints}}
  </div>
  </div>

  <div id="curated-map" class="map"></div>
</div>

  <script>
  navigator.geolocation.getCurrentPosition(displayLocation);
  let latitude;
  let longitude;
  function displayLocation(position) {
    // current coordinates
    // latitude and longitude are numbers
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    let start = `"${latitude}, ${longitude}"`;
    let current = new google.maps.LatLng(latitude, longitude)
   console.log("displayLocation function ran");
    showMap(current);

  }

  function showMap(current) {
    let directionsService = new google.maps.DirectionsService;
    let directionsDisplay = new google.maps.DirectionsRenderer;
    let map = new google.maps.Map(document.getElementById('curated-map'), {
      zoom: 12,
      center: current
    })
    console.log('showMap function ran')
    let marker = new google.maps.Marker({
      position: current,
      map: map
    })

    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);
    console.log('fire!');
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    directionsService.route({
      {{#map}}
        origin: "{{map.origin}}",
        destination: "{{map.destination}}",
        waypoints: [{{#map.waypoints}}{
          location: "{{location}}",
          stopover: true
        },{{/map.waypoints}}],
        optimizeWaypoints: true,
        travelMode: "{{map.travelMode}}"
        {{/map}}
    }, function(response, status) {
      if (status === 'OK') {

        // visiual display of route legs
          directionsDisplay.setDirections(response);

          // }
        console.log("woohooo!!")
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCq04ArY70ba05n6sTkDx0VldkX1fVtCg">
  </script>
{{/route}}
</body>



</html>
