<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"></link>
  <link rel="stylesheet" href="./styles.css">
  <link href="https://fonts.googleapis.com/css?family=Chewy|Lato" rel="stylesheet">
  </head>
  {{#route}}
  <title>{{title}}</title>


<body>
<div class="wrapper">
  <h1> {{title}}</h1>
  <h2> {{details}}</h2>
  <div class="waypoints-info">
    <ul>
    {{#waypoints}}
    <li>
    {{name}}
    {{description}}
    </li>
    {{/waypoints}}
  </ul>
  </div>

  <div id="curated-map" style=" height:400px width: 5px;"></div>
</div>
  <nav>
    <a href= "/"> Create Map</a>
    <a href= "/routesuggestions"> Suggested Routes</a>
    <a href= "#"> More Info</a>
    <a href= "#"> Log Out</a>
  </nav>

{{#map}}
  origin: "{{map.origin}}",
  destination: "{{map.destination}}",
  waypoints: [{{#map.waypoints}}{
    location: "{{location}}",
    stopover: true
  },{{/map.waypoints}}],
  optimizeWaypoints: true,
  travelMode: "{{map.travelMode}}"
  {{/map}}

  <script>
  navigator.geolocation.getCurrentPosition(displayLocation);
  let latitude;
  let longitude;
  function displayLocation(position) {
    // current coordinates
    // latitude and longitude are numbers
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    let start = `"${latitude}, ${longitude}"`;
    let current = new google.maps.LatLng(latitude, longitude)
   console.log("displayLocation function ran");
    showMap(current);

  }

  function showMap(current) {
    let directionsService = new google.maps.DirectionsService;
    let directionsDisplay = new google.maps.DirectionsRenderer;
    let map = new google.maps.Map(document.getElementById('curated-map'), {
      zoom: 12,
      center: current
    })
    console.log('showMap function ran')
    let marker = new google.maps.Marker({
      position: current,
      map: map
    })

    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);
    console.log('fire!');
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    directionsService.route({
      {{#map}}
        origin: "{{map.origin}}",
        destination: "{{map.destination}}",
        waypoints: [{{#map.waypoints}}{
          location: "{{location}}",
          stopover: true
        },{{/map.waypoints}}],
        optimizeWaypoints: true,
        travelMode: "{{map.travelMode}}"
        {{/map}}
    }, function(response, status) {
      if (status === 'OK') {

        // visiual display of route legs
          directionsDisplay.setDirections(response);

          // }
        console.log("woohooo!!")
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCq04ArY70ba05n6sTkDx0VldkX1fVtCg">
  </script>
{{/route}}
</body>



</html>
