<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"></link>
  <link rel="stylesheet" href="./styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Zilla+Slab:500,500i,700,700i" rel="stylesheet">
  {{#route}}
  <title>{{title}}</title>
</head>
<nav>
  <div class="logo">
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.5 97.71">
    <path class="dot" d="M88,9.88A3.09,3.09,0,0,0,84.87,13c0,.87,1.31,3.25,3.08,5.75C89.73,16.22,91,13.84,91,13A3.09,3.09,0,0,0,88,9.88Z" transform="translate(-2.04 -4.88)"/>
    <path class="dot-outline" d="M88,4.88A8.09,8.09,0,0,0,79.87,13c0,3.69,4.71,9.7,6.15,11.45a2.51,2.51,0,0,0,1.93.91,2.48,2.48,0,0,0,1.93-.91C91.33,22.67,96,16.66,96,13A8.1,8.1,0,0,0,88,4.88Zm0,5A3.09,3.09,0,0,1,91,13c0,.87-1.31,3.25-3.09,5.75-1.77-2.5-3.08-4.88-3.08-5.75A3.09,3.09,0,0,1,88,9.88Z" transform="translate(-2.04 -4.88)"/>
    <path class="via-text" d="M173.37,95.76,108.45,30.84a4,4,0,0,0-6.83,2.83V94.45h-9V33.54a4,4,0,0,0-3.89-4,3.66,3.66,0,0,0-1-.14H56.85a4,4,0,0,0,0,8H67V88.14L8.87,30.05A4,4,0,1,0,3.21,35.7l64.92,64.92A4,4,0,0,0,71,101.79a4,4,0,0,0,1.53-.3A4,4,0,0,0,75,97.79V37.41H84.6v61a4,4,0,0,0,4,4h30.87a4,4,0,0,0,0-8h-9.85V77.86h34.53l23.56,23.56a4,4,0,1,0,5.66-5.66Zm-63.75-25.9V43.33l26.53,26.53Z" transform="translate(-2.04 -4.88)"/>
  </svg>
</div>
  <a href= "/"> Create Map</a>
  <a href= "/routesuggestions"> Suggested Routes</a>
  <a href= "/login"> Log Out</a>
</nav>
<body class="image-bg" style="background-image:url({{img}})">
<div class="wrapper">
  <h1> {{title}}</h1>
  <div class="waypoints-info">
    <div class="stop-info">
    {{#waypoints}}
    <div class="card premade-card">
    <div class="deats">
    <h5>{{name}}</h5>
    <p>{{description}}</p>
    </div>
  </div>
    {{/waypoints}}
  </div>
  </div>

  <div id="curated-map" class="map"></div>
</div>

  <script>
  navigator.geolocation.getCurrentPosition(displayLocation);
  let latitude;
  let longitude;
  function displayLocation(position) {
    // current coordinates
    // latitude and longitude are numbers
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    let start = `"${latitude}, ${longitude}"`;
    let current = new google.maps.LatLng(latitude, longitude)
   console.log("displayLocation function ran");
    showMap(current);

  }

  function showMap(current) {
    let directionsService = new google.maps.DirectionsService;
    let directionsDisplay = new google.maps.DirectionsRenderer;
    let map = new google.maps.Map(document.getElementById('curated-map'), {
      zoom: 12,
      center: current
    })
    console.log('showMap function ran')
    let marker = new google.maps.Marker({
      position: current,
      map: map
    })

    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);
    console.log('fire!');
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    directionsService.route({
      {{#map}}
        origin: "{{map.origin}}",
        destination: "{{map.destination}}",
        waypoints: [{{#map.waypoints}}{
          location: "{{location}}",
          stopover: true
        },{{/map.waypoints}}],
        optimizeWaypoints: true,
        travelMode: "{{map.travelMode}}"
        {{/map}}
    }, function(response, status) {
      if (status === 'OK') {

        // visiual display of route legs
          directionsDisplay.setDirections(response);

          // }
        console.log("woohooo!!")
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCq04ArY70ba05n6sTkDx0VldkX1fVtCg">
  </script>
{{/route}}
</body>



</html>
