<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="css/styles.css">
    <title>Registration Page</title>
  </head>
  <body>
    <h1> Register here: </h1>
    <p style="color:red;">{{passerror}} </p>
<form action="/registration" method="post">

    <label>Create Username: </label>
    <input type="text" name="regusername" placeholder="Username">
    <label>Create Password: </label>
    <input type="password" name="regpassword" placeholder="password">
    <label>Confirm Password: </label>
    <input type="password" name="confirmpassword" placeholder="password">
    <button type="submit" name="button"> Submit</button>
  </form>

  </body>
</html>
