<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="css/styles.css">
    <title>{{title}}</title>
  </head>
  <body>
  {{#routes}}

    <h1> Suggested Routes </h1>
    <h2> {{title}}</h2>

  {{/routes}}

  <div id="suggested-map"></div>

  <nav>
    <a href= "/"> Create Map</a>
    <a href= "/routesuggestions"> Suggested Routes</a>
    <a href= "#"> More Info</a>
    <a href= "#"> Log Out</a>
  </nav>



  <script src="suggestedmap.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCq04ArY70ba05n6sTkDx0VldkX1fVtCg">
  </body>
</html>
