/*fonts:
font-family: 'Lato', sans-serif;
font-family: 'Zilla Slab', serif;
*/

/*
colors: #70CDCC (blue) or #00B9AD
        #36C3C8 (white)
        #FA5934 (red)
        #FFDBB1 (beige)
        #FE5B32 (yellow)
        #A7A8AC (A7A8AC)
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  color: #455051;
	background: #D8E1E9;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  margin: 0 auto;
}

.wrapper{
  margin: 5%;
}

nav{
  background-color: #455051;
  padding: 30px;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  flex-grow: 1;
  text-align: center;
}

nav a:hover {
  color: #FD5635;

}
h1, h2, h3, h4 {
font-family: 'Zilla Slab', serif;
	font-weight: 700;
	/*line-height: 1.1;*/
    /*font-size: 3.998em;*/
  margin-bottom: .5em;
  text-align: center;
}

h1{
  font-weight: bold;
  /*font-size: 2.2em;*/
  text-align: center;
  width: 100%;
  /*border-bottom: 1px solid #D8E1E9;
  margin-bottom: 30px;*/
}
/* PARAGRAPH */
/*

h2 {font-size: 1.8em; font-weight: 500}

h3 {font-size: 1.5em;}

h4 {font-size: 1.414em;}*/

h5 {
  font-size: .8em;
  text-transform: uppercase; font-weight: bold; letter-spacing: .15em; color: #65c1e5;}

small {
  font-size: 1.2em;
  font-family: 'Zilla Slab';
  color: #FD5635;
  text-decoration: none;
  margin-bottom: 4%;
}

small:hover{
  color:#981a02;
}

a {
  text-decoration: none;
}

span{
  font-size: 1.1 em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .15em;
  color: #65c1e5;
}

p {
  font-size: 1.0em;
  margin-bottom: 1em;
}


button {
  display: inline-block;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
  letter-spacing: .15em;
	padding: 0.7em 1.4em;
  background: #035A5E;
	border: 0 solid #035A5E;
  color: white;
  font-family: "Zilla Slab";
  margin-bottom: 10px;
}

button:hover{
  background-color: #023a3d;
}

/*LOGIN PAGE*/
#login{
  background-image: url("https://images.unsplash.com/photo-1487581424120-18f3611a63e6?w=1326&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  padding: 6%;
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);

}

#splash {
  font-size: 5em;
}
#login-page{
  margin: 0 auto;
}

.login-page-links {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.login-page-links a{
  text-decoration: none;
  color: #FD5635;
  /*margin-right: 2%;*/
}

.login-page-links a:hover{
  color:#981a02;
}

.login-input{
width: 90%;
display:block;
margin: 0 auto;
background-color: white;
font-size: 2.5em;
padding: 0.7em 1.4em;
border-radius: 5px;
border-style: none;
color: #455051;
margin-bottom: 2%;

}

#sign-in-button{
  width: 90%;
  display:block;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 2.2em;
}

/*.instructions{
  font-size: 1.2em;
}*/

#guide{
  padding: 5%;
  background-color:white;
  margin: 0 auto;
}

#or {
  padding:5%;
  background-color:#035A5E;
  color: white;
  margin: 0 auto;
  text-align: right;
}

.instructions h2{
  /*font-size: 3.5em;*/
  margin-top: 0;
  padding-top: 7%;
}

.steps{
  display:flex;
}

.step{
  /*font-size: 2.0em;*/
  margin-top: 0;
}
.number{
border: solid 2px #FD5635;
border-radius: 100%;
background-color: #FD5635;;
color: white;
width: 65px;
height: 65px;
text-align: center;
font-size: 3.0em;
margin-top: 0;
margin-right: 10px;
}

/*INDEX PAGE*/

.header{
  margin-bottom: 5%;
}
#form{
  margin-top: 2%;
  margin-bottom: 5%;
}

.column-left{
width: 100%;
font-size: 1.1em;
border: 1px solid #035A5E;
padding: 20px;
background-color: white;
margin-bottom: 4%;
}

.column-left h3{
  margin-top: 0;
}

.column-right{

  width: 100%;
  display: flex;
  flex-direction: column;
}

select {
  border: 1px solid #455051;
  height: 250px;
  margin-bottom: 5px;
  padding: 10px;
}
option {
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 2px 10px 2px;
    color: #455051;
  }

  #end{
    font-size: 1.0em; text-transform: uppercase; font-weight: bold;
    padding: 5px;
    margin-bottom: 4%;
    border: 1px solid #035A5E;
    color: #455051;
  }

.image-bg{
  background-size: cover;
}


.stop-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;;
  margin-bottom: 5%;
}

.stop-info img{
  width: 100%;
}
.card{
list-style-type: none;
padding: 5px;
background-color: white;
width: 100%;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
text-align: center;
margin: 1%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deats h5, p {
  margin:0;
  padding: 5px;
}
.map{
  max-width: 100%;
  height: 700px;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#waypoints{
  display:flex;
  flex-direction: column;
  height: 120px;
}

#waypoints input{
  flex-direction: column;
}

.route-tiles{
  padding: 50px;
  background-size: cover;
  width: 100%;
}
.tile-title{
text-shadow: black 1px 1px 8px, black 1px 1px 8px;
}

.route-tiles:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.route-tiles a{
  text-decoration: none;
  color: white;

}


/*MEDIA QUERRY
.middle{
  display:flex;
}

#form{
  width: 35%;
}

select {
  border: 0px solid;
  height: 200px;
}
  option {
    background: #D8E1E9;
    font-size: 1em; text-transform: uppercase; font-weight: bold;
    padding-bottom: 20px;
  }


.stop-info {
  width: 65%;
  display: flex;
  flex-wrap: wrap;;
}

.stop-info img{
  width: 100%;
}
.card{
background-color: white;
width: 18%;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
text-align: center;
margin: 1%
}

.deats h5, p {
  margin:0;
  padding: 5px;
}*/
