/*fonts:
font-family: 'Lato', sans-serif;
font-family: 'Zilla Slab', serif;
*/

/*
colors: #70CDCC (blue) or #00B9AD
        #36C3C8 (white)
        #FA5934 (red)
        #FFDBB1 (beige)
        #FE5B32 (yellow)
        #A7A8AC (A7A8AC)
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  font-size: 110%;
  color: #455051;
	background: #D8E1E9;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  margin: 0 auto;
}

.wrapper{
  margin: 5%;
  padding-bottom: 100px;
}

nav{
  background-color: #455051;
  padding: 30px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

nav a {
  text-decoration: none;
  color: white;
  flex-grow: 1;
  text-align: center;
}

nav a:hover {
  color: #FD5635;

}
h1, h2, h3, h4 {
font-family: 'Zilla Slab', serif;

	font-weight: 700;
	/*line-height: 1.1;*/
    /*font-size: 3.998em;*/
  margin-bottom: .5em;
  text-align: center;
}

h1{
  font-weight: bold;
  color: #455051;
    text-shadow: white 1px 1px 8px, white 1px 1px 8px;
  /*font-size: 2.2em;*/
  text-align: center;
  width: 100%;
}
/*h1{
  font-weight: bold;
  text-shadow: black 1px 1px 8px, black 1px 1px 8px;
  color: white;
  background-color: #455051;
  padding:10px;
  font-size: 2.2em;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}*/
/* PARAGRAPH */
/*

h2 {font-size: 1.8em; font-weight: 500}

h3 {font-size: 1.5em;}

h4 {font-size: 1.414em;}*/

h5 {
  font-size: .8em;
  text-transform: uppercase; font-weight: bold; letter-spacing: .15em; color: #65c1e5;}

small {
  font-size: 1.2em;
  font-family: 'Zilla Slab';
  color: #FD5635;
  text-decoration: none;
  margin-bottom: 4%;
}

small:hover{
  color:#981a02;
}

a {
  text-decoration: none;
}

span{
  font-size: 1.1 em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .15em;
  color: #65c1e5;
}

p {
  font-size: 1.0em;
  margin-bottom: 1em;
}


button {
  display: inline-block;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
  letter-spacing: .15em;
	padding: 0.7em 1.4em;
  background: #035A5E;
	border: 0 solid #035A5E;
  color: white;
  font-family: "Zilla Slab";
  margin-bottom: 10px;
}

button:hover{
  background-color: #023a3d;
}

/*LOGIN PAGE*/

#login{
  background-image: url("https://images.unsplash.com/photo-1487581424120-18f3611a63e6?w=1326&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  padding: 4em 5%;
  background-size: cover;
}

#splash {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
}
#login-page{
  margin: 0 auto;
  background-color: #035A5E;
}

.login-page-links {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
.login-page-links a{
  text-decoration: none;
  color: #FD5635;
}

.login-page-links a:hover{
  color:#981a02;
}

.login-input{
width: 90%;
display:block;
margin: 0 auto;
background-color: white;
font-size: 2.5em;
padding: 0.7em 1.4em;
border-radius: 5px;
border-style: none;
color: #455051;
margin-bottom: 2%;

}

#sign-in-button{
  width: 90%;
  display:block;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 2.5em;
}

.instructions h2{
  margin-top: 0;
  padding-top: 0;
}

#guide{
  padding: 2em 5%;
  background-color:white;
  margin: 0 auto;

}

#or {
  padding:2em 5%;
  background-color:#035A5E;
  color: white;
  margin: 0 auto;
  text-align: right;
}


.steps{
  display:flex;
}

.step{
  /*font-size: 2.0em;*/
  margin-top: 0;
}
.number{
color: #FD5635;;
}

/*.number{
border: solid 2px #FD5635;
border-radius: 100%;
background-color: #FD5635;;
color: white;
width: 65px;
height: 65px;
text-align: center;
font-size: 3.0em;
margin-top: 0;
margin-right: 10px;
}*/

/*INDEX PAGE*/

.header{
  margin-bottom: 5%;
}
#form{
  margin-top: 2%;
  margin-bottom: 5%;
}

.column-left{
width: 100%;
font-size: 1.1em;
border: 1px solid #035A5E;
padding: 20px;
background-color: white;
margin-bottom: 4%;
}

.column-left h3{
  margin-top: 0;
}

.column-right{

  width: 100%;
  display: flex;
  flex-direction: column;
}

select {
  border: 1px solid #455051;
  height: 250px;
  margin-bottom: 5px;
  padding: 10px;
}
option {
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 2px 10px 2px;
    color: #455051;
  }

  #end{
    font-size: 1.0em; text-transform: uppercase; font-weight: bold;
    padding: 5px;
    margin-bottom: 4%;
    border: 1px solid #035A5E;
    color: #455051;
  }

.image-bg{
  background-size: cover;
}


.stop-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;;
  margin-bottom: 5%;
}

.stop-info img{
  width: 100%;
}
.card{
list-style-type: none;
padding: 5px;
background-color: white;
width: 100%;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
text-align: center;
margin: 1%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deats h5, p {
  margin:0;
  padding: 5px;
}
.map{
  max-width: 100%;
  height: 700px;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#waypoints{
  display:flex;
  flex-direction: column;
  height: 120px;
}

#waypoints input{
  flex-direction: column;
}

.route-tiles{
  padding: 50px;
  background-size: cover;
  width: 100%;
  margin-bottom: 2%;
}

.route-tiles:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.58);
}
.tile-title{
text-shadow: black 1px 1px 8px, black 1px 1px 8px;
}


.route-tiles a{
  text-decoration: none;
  color: white;
}


/* Larger than mobile */
@media (min-width:600px) {

  #form{
  display: flex;
  }

  .column-left{
  width: 58%;
  margin-right: 2%;
  }

  .column-right{
    width: 40%;
    display: flex;
    flex-direction: column;
  }
.card{
  width: 48%;
  margin: 1%;
  }

}

/* Larger than tablet */
@media (min-width: 960px) {
  .wrapper{
    margin-left: 15%;
    margin-right: 15%;
  }
  body{
    font-size: 150%;
  }

  nav{
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }

  .login-input {
  width: 60%;
  font-size: 1.5em;

  }

  #sign-in-button{
    width: 60%;
    font-size: 1.5em;
  }

  #guide{
    padding: 5em 5%;


  }

  #or {
    padding:5em 5%;

  }


  #forms .stop-info .map{
    margin-bottom: 3%;
  }
  .card{
    width: 18%;
    }

    .selection{
      display:flex;
      flex-wrap: wrap;
    }
  .route-tiles{
      width: 48%;
      margin: 1%;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .premade-card{
      width: 48%;
      padding: 25px 15px;
    }

}
