/*fonts:
font-family: 'Chewy', cursive;
font-family: 'Lato', sans-serif;
*/

/*
colors: #70CDCC (blue) or #00B9AD
        #36C3C8 (white)
        #FA5934 (red)
        #FFDBB1 (beige)
        #FE5B32 (yellow)
        #A7A8AC (A7A8AC)
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  color: #455051;
	background: #D8E1E9;
  font-family: 'Lato', serif;
  line-height: 1.4;
  margin: 5%;
}

nav{
  background-color: #455051;
  padding: 1%;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  flex-grow: 1;
  text-align: center;
}

nav a:hover {
  color: #FD5635;

}

h1, h2, h3, h4 {
font-family: 'Zilla Slab', serif;
	font-weight: 700;
	line-height: 1.1;
    /*font-size: 3.998em;*/
  margin-bottom: .5em;
  text-align: center;
}

button {
  display: inline-block;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
  letter-spacing: .15em;
	padding: 0.7em 1.4em;
  background: #035A5E;
	border: 0 solid black;
  color: white;
  font-family: "Zilla Slab";


	&:hover, &:focus {
	}
}

#login{
  background-image: url("https://images.unsplash.com/photo-1487581424120-18f3611a63e6?w=1326&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");

}

#login body{
  vertical-align: center;
}

.login-page-links {
  display: flex;
  justify-content: center;
}
.login-page-links a{
  text-decoration: none;
  color: #FD5635;
  margin-right: 2%;
}

.login-page-links a:hover{
  color: #035A5E
}

input{
width: 90%;
display:block;
margin: 0 auto;
background-color: white;
font-size: 1.2em;
padding: 0.7em 1.4em;
border-radius: 5px;
border-style: none;
color: #455051;
margin-bottom: 2%;

}

.sign-in{
  width: 90%;
  display:block;
  margin: 0 auto;
  border-radius: 5px;
}
#map{
  max-width: 100%;
  height: 500px;
}

#curated-map{
  max-width: 90%;
  height: 500px;
}


#waypoints{
  display:flex;
  flex-direction: column;
  height: 120px;
}

#waypoints input{
  flex-direction: column;
}
.route-tiles {
  max-width: 40%;
  border: 1px solid black;
}
.route-tiles img{
max-width: 100%;
/*height: 200px;*/
}
